<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head('project details')"></head>
    <body>
    <div th:replace="layout :: header"></div>
    <div th:replace="layout :: nav"></div>
        <section>
            <div class="container wrapper">
                <div class="project-list single">
                    <div class="project">
                        <h2>Website Project</h2>
                        <p>Design and build a custom website</p>
                        <span class="tag active">Active</span>
                    </div>
                    <div class="roles-collaborators">
                        <h3>Roles &amp; Collaborators</h3>
                        <div class="list-item">
                            <span class="primary">Developer</span>
                            <span class="secondary">Michael Pemulis</span>
                        </div>
                        <div class="list-item">
                            <span class="primary">Designer</span>
                            <span class="secondary">Don Gately</span>
                        </div>
                        <div class="list-item">
                            <span class="primary">QA</span>
                                <span class="secondary">Joelle Van Dyne</span>
                            </div>
                        <div class="list-item">
                            <span class="primary">DevOps</span>
                            <span class="secondary">[Unassigned]</span>
                        </div>
                    </div>
                    <div class="actions">
                        <a class="button" href="index.html">Edit Project</a>
                        <a class="button" href="../collaborator/details.html">Edit Collaborators</a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>