<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head th:replace="layout :: head('edit collaborators')"></head>
    <body>
    <div th:replace="layout :: header"></div>
    <div th:replace="layout :: nav"></div>
        <section>
            <div class="container wrapper">
                <form th:action="@{|/projects/${project.id}/collaborators|}" method="post" th:object="${project}">
                    <label th:text="${heading}">Edit Collaborators: Project Name</label>
                    <ul class="checkbox-list">
                        <li th:each="role : ${rolesNeeded}"><span  th:field="*{rolesNeeded}" th:value="${role.id}" th:text="${role.name}" class="primary">Developer</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <!--<input type="hidden" th:value="${collaborator.id}"/>-->
                                    <option th:each="collaborator : ${collaborators}" th:value="${collaborator.id}" th:text="${collaborator.name}">Collaborator Name</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                    <div class="actions">
                        <button type="submit" class="button">Save</button>
                        <a th:href="@{|/projects/${project.id}|}" class="button button-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>