<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>InstaTeam</title>
        <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/site.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="index.html">InstaTeam</a>
                    <a class="new-project button icon-left" href="#"><i class="material-icons">add</i> New Project</a>
                </div>
            </div>
        </header>
        <nav>
            <ul>
                <li class="selected"><a href="index.html">Projects</a></li>
                <li><a href="collaborators.html">Collaborators</a></li>
                <li><a href="roles.html">Roles</a></li>
            </ul>
        </nav>
        <section>
            <div class="container wrapper">
                <form>
                    <div>
                        <label for="project_name"> Project Name:</label>
                        <input type="text" name="project_name">
                    </div>
                    <div>
                        <label for="project_description">Project Description:</label>
                        <textarea rows="4" name="project_description"></textarea>
                    </div>
                    <div>
                        <label for="project_status">Project Status:</label>
                        <div class="custom-select">
                        <span class="dropdown-arrow"></span>
                            <select name="project_status">
                                <option value="active">Active</option>
                                <option value="archived">Archived</option>
                                <option value="not_started">Not Started</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <label for="project_roles">Project Roles:</label>
                        <ul class="checkbox-list">
                            <li>
                                <input type="checkbox" name="project_roles" value="Developer">
                                <span class="primary"> Developer</span>
                            </li>
                            <li>
                                <input type="checkbox" name="project_roles" value="Designer">
                                <span class="primary"> Designer</span>
                            </li>
                            <li>
                                <input type="checkbox" name="project_roles" value="QA">
                                <span class="primary"> QA</span>
                            </li>
                            <li>
                                <input type="checkbox" name="project_roles" value="DevOps">
                                <span class="primary"> DevOps</span>
                            </li>
                        </ul>
                    </div>
                    <div class="actions">
                        <input type="submit" value="Save" class="button">
                        <a href="#" class="button button-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>