<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head('projects')"></head>
    <body>
    <div th:replace="layout :: header"></div>
    <div th:replace="layout :: nav"></div>
        <section>
            <div class="container wrapper">
                <div class="project-list">
                    <div th:each="project : ${projects}" class="project">
                        <h2><a th:href="@{|/projects/${project.id}/|}" th:text="${project.name}">Project Name</a></h2>
                        <p th:href="@{|/projects/${project.id}|}" th:text="${project.description}">Description</p>
                        <span th:href="@{|/projects/${project.id}|}" th:class="tag" th:classappend="${#strings.toLowerCase(project.status)}" th:text="${#strings.toUpperCase(project.status).replace('_', ' ')}">Status</span>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>