<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(page_title)">
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title th:text="'Instateam | ' + ${page_title}">InstaTeam</title>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{normalize.css}"/>
    <link rel="stylesheet" th:href="@{site.css}"/>
</head>

<body>

<div>
    <header th:fragment="header">
        <div class="container">
            <div class="site-header">
                <a class="logo" th:href="@{/}">InstaTeam</a>
                <a class="new-project button icon-left" th:href="@{/projects/add}"><i class="material-icons">add</i> New Project</a>
            </div>
        </div>
    </header>
</div>

<div>
    <nav th:fragment="nav">
        <ul>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'selected':''}"><a th:href="@{/}">Projects</a></li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/collaborators' ? 'selected':''}"><a th:href="@{/collaborators}">Collaborators</a></li>
            <li th:classappend="${#httpServletRequest.getRequestURI() == '/roles' ? 'selected':''}"><a th:href="@{/roles}">Roles</a></li>
        </ul>
    </nav>
</div>

</body>
</html>