<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>InstaTeam</title>
        <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/site.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="index.html">InstaTeam</a>
                    <a class="new-project button icon-left" href="#"><i class="material-icons">add</i> New Project</a>
                </div>
            </div>
        </header>
        <nav>
            <ul>
                <li class="selected"><a href="index.html">Projects</a></li>
                <li><a href="collaborators.html">Collaborators</a></li>
                <li><a href="roles.html">Roles</a></li>
            </ul>
        </nav>
        <section>
            <div class="container wrapper">
                <div class="project-list single">
                    <div class="project">
                        <h2>Website Project</h2>
                        <p>Design and build a custom website</p>
                        <span class="tag active">Active</span>
                    </div>
                    <div class="roles-collaborators">
                        <h3>Roles &amp; Collaborators</h3>
                        <div class="list-item">
                            <span class="primary">Developer</span>
                            <span class="secondary">Michael Pemulis</span>
                        </div>
                        <div class="list-item">
                            <span class="primary">Designer</span>
                            <span class="secondary">Don Gately</span>
                        </div>
                        <div class="list-item">
                            <span class="primary">QA</span>
                                <span class="secondary">Joelle Van Dyne</span>
                            </div>
                        <div class="list-item">
                            <span class="primary">DevOps</span>
                            <span class="secondary">[Unassigned]</span>
                        </div>
                    </div>
                    <div class="actions">
                        <a class="button" href="edit_project.html">Edit Project</a>
                        <a class="button" href="project_collaborators.html">Edit Collaborators</a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>