<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>InstaTeam</title>
        <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/site.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="index.html">InstaTeam</a>
                    <a class="new-project button icon-left" href="#"><i class="material-icons">add</i> New Project</a>
                </div>
            </div>
        </header>
        <nav>
            <ul>
                <li class="selected"><a href="index.html">Projects</a></li>
                <li><a href="collaborators.html">Collaborators</a></li>
                <li><a href="roles.html">Roles</a></li>
            </ul>
        </nav>
        <section>
            <div class="container wrapper">
                <form>
                    <label>Edit Collaborators: Website Project</label>
                    <ul class="checkbox-list">
                        <li><span class="primary">Developer</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option value="#">Michael Pemulis</option>
                                    <option value="#">Name</option>
                                </select>
                            </div>
                        </li>
                        <li><span class="primary">Designer</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option value="#">Don Gately</option>
                                    <option value="#">Name</option>
                                </select>
                            </div>
                        </li>
                        <li><span class="primary">QA</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option value="#">Joelle Van Dyne</option>
                                    <option value="#">Name</option>
                                </select>
                            </div>
                        </li>
                        <li><span class="primary">DevOps</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option value="#">Choose...</option>
                                    <option value="#">Name</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                    <div class="actions">
                        <input type="submit" value="Save" class="button">
                        <a href="#" class="button button-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>