<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('edit role')"></head>
<body>
<div th:replace="layout :: header"></div>
<div th:replace="layout :: nav"></div>
<section>
    <div class="container wrapper">
        <form th:action="@{|/roles/${role.id}/edit|}" method="post" th:object="${role}">
            <h2 th:text="${heading}">Edit Role</h2>
            <div class="actions edit-role">
                <input type="hidden" th:field="*{id}"/>
                <input type="text" th:field="*{name}" placeholder="Edit Role..."/>
                <button th:text="${submit}" type="submit" class="button">Update</button>
            </div>
        </form>
    </div>
</section>
</body>
</html>