<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>InstaTeam</title>
        <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{normalize.css}"/>
        <link rel="stylesheet" th:href="@{site.css}"/>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" th:href="@{/}">InstaTeam</a>
                    <a class="new-project button icon-left" th:href="@{/projects/add}"><i class="material-icons">add</i> New Project</a>
                </div>
            </div>
        </header>
        <nav>
            <ul>
                <li><a th:href="@{/}">Projects</a></li>
                <li><a th:href="@{/collaborators}">Collaborators</a></li>
                <li class="selected"><a th:href="@{/roles}">Roles</a></li>
            </ul>
        </nav>
        <section>
            <div class="container wrapper">
                <form th:action="@{/roles}" method="get" th:object="${role}">
                    <h2>Manage Roles</h2>
                    <div th:each="role : ${roles}">
                        <ul class="checkbox-list">
                            <li th:href="@{|/roles/${role.id}|}" th:text="${role.name}"><span class="primary">Developer</span></li>
                        </ul>
                    </div>
                    <div class="actions add-new-role">
                        <input type="text" th:field="*{name}" placeholder="New Role..."/>
                        <a class="button" th:href="@{/roles}">Add</a>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>