<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: head('roles')"></head>
    <body>
    <div th:replace="layout :: header"></div>
    <div th:replace="layout :: nav"></div>
        <section>
            <div class="container wrapper">
                <form th:action="@{/roles}" method="post" th:object="${role}">
                    <h2>Manage Roles</h2>
                    <div class="role">
                        <ul th:each="role : ${roles}" class="checkbox-list">
                            <li class="role-list"><a th:href="@{|/roles/${role.id}/edit|}" th:text="${role.name}">Role</a></li>
                        </ul>
                    </div>
                    <div class="actions add-new-role">
                        <input type="hidden" th:field="*{id}"/>
                        <input type="text" th:field="*{name}" placeholder="New Role..."/>
                        <button type="submit" class="button">Add</button>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>