<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>InstaTeam</title>
        <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{normalize.css}"/>
        <link rel="stylesheet" th:href="@{site.css}"/>
    </head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" th:href="@{/}">InstaTeam</a>
                    <a class="new-project button icon-left" th:href="@{/projects/add}"><i class="material-icons">add</i> New Project</a>
                </div>
            </div>
        </header>
        <nav>
            <ul>
                <li><a th:href="@{/}">Projects</a></li>
                <li class="selected"><a th:href="@{/collaborators}">Collaborators</a></li>
                <li><a th:href="@{/roles}">Roles</a></li>
            </ul>
        </nav>
        <section>
            <div class="container wrapper">
                <form th:action="@{/collaborators}" method="post" th:object="${collaborator}">
                    <h2>Manage Collaborators</h2>
                    <ul th:each="collaborator : ${collaborators}" class="checkbox-list">
                        <li>
                            <span th:href="@{|/collaborators/${collaborator.id}|}" th:text="${collaborator.name}" class="primary">Collaborator Name</span>
                            <div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}">Role</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                    <div class="actions add-new-collaborator">
                        <input type="hidden" th:field="*{id}"/>
                        <input type="text" th:field="*{name}" placeholder="Name..."/>
                        <div class="custom-select">
                            <span class="dropdown-arrow"></span>
                            <select th:field="*{role.id}">
                                <option value="" disabled="disabled">Role...</option>
                                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}">Role</option>
                            </select>
                        </div>
                        <button type="submit" class="button">Add</button>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>